/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COMMON */
body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --bg-nav-l: #000000;
  --text-nav: #717171;
  --green: #adff2f;
  --destra: #141922;
  --bg-header: rgba(0, 0, 0, 0.5);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  display: block;
}

.no-small {
  display: none;
}

.no-big {
  display: block;
}

button {
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  background-color: var(--bg-header);
  padding: 10px 30px;
}

/* TOP */
.top nav {
  color: var(--text-nav);
  padding: 5px 10px 10px 10px;
  background-color: var(--bg-nav-l);
  width: 50px;
  height: calc(100vh - 90px);
  overflow: hidden;
  flex-shrink: 0;
}

.top nav.col {
  justify-content: space-between;
}

.top .col {
  gap: 20px;
}

.top .high {
  height: 500px;
  overflow: hidden;
}

.top nav ul.menu li.row {
  flex-direction: column;
}

.top nav ul.utente li.row {
  flex-direction: column;
}

.top nav ul.utente .center {
  align-items: center;
}

.top nav .utente .icon.download {
  width: 15px;
}

.top a {
  font-weight: bold;
}

.top nav .utente ul li .icon.profilo {
  background-color: var(--text-nav);
}

@media all and (min-width: 576px) {
  .no-big {
    display: none;
  }

  .no-small {
    display: block;
  }

  .top nav {
    padding: 0;
    width: 230px;
  }

  .top .logo {
    padding: 20px 20px 0 20px;
  }

  .top .menu.col {
    gap: 0;
  }

  .top .menu li {
    padding: 5px 20px;
  }

  .top .menu .home {
    border-left: 2px solid var(--green);
  }

  .top .playlist > a {
    padding: 0 20px;
  }

  .top .playlist .row {
    padding: 0 20px;
  }

  .top .playlist ul {
    padding: 0 20px;
  }

  .top .utente {
    padding: 0 20px 5px 20px;
  }

  .top nav .icon {
    width: 20px;
  }

  .top nav ul.menu li.row {
    flex-direction: row;
    gap: 10px;
  }

  .top nav ul.utente li.row {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .top nav .utente li:last-child a {
    color: white;
  }

  /* playlist */
  .playlist {
    flex-grow: 1;
    overflow: hidden;
  }

  .playlist ul {
    min-height: 100px;
    height: 100%;
    overflow-y: auto;
  }

  .playlist > a {
    color: white;
  }

  .playlist .row {
    margin-top: 15px;
  }

  .playlist .row {
    gap: 10px;
    align-items: center;
  }

  .playlist i {
    font-size: 40px;
  }

  .playlist ul.col {
    margin-top: 20px;
    gap: 20px;
  }
}

/* destra */
.destra {
  height: calc(100vh - 90px);
  overflow-y: scroll;
  flex-grow: 1;
  background-color: var(--destra);
  color: white;
}

.destra .header {
  height: 90px;
  background-color: var(--bg-header);
  position: sticky;
  top: 0;
}

.destra .header.col {
  align-items: flex-end;
  justify-content: center;
}

.destra button {
  margin-right: 20px;
}

.destra .content {
  margin: 20px 20px 0 20px;
}

.destra .content ul.menu.row {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.destra .content .menu.row li {
  padding: 0;
}

.destra .content .menu.row li a {
  padding: 10px 10px;
  width: calc(100% / 4 - 20px);
  font-size: 10px;
  color: var(--text-nav);
}

.destra .content .menu li:first-child {
  border-bottom: 2px solid var(--green);
}

/* recently - creato per - artisti */
.destra .content .list {
  margin-top: 45px;
  margin-bottom: 45px;
}

.destra .content .list h3 {
  margin-bottom: 30px;
}

.destra .content .list .cont.row {
  flex-wrap: wrap;
}

.destra .content .list h3 {
  margin-bottom: 30px;
}

.destra .content .list.creato h3 {
  margin-bottom: 15px;
}

.destra .content .list.creato h6 {
  color: var(--text-nav);
  margin-bottom: 30px;
}

.destra .content .list .cont.row .box {
  padding: 5px 10px;
  text-align: center;
  width: calc((100% - 20px) / 2);
}

.destra .content .list .cont.row .box h4 {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.destra .content .list .cont.row .box h6 {
  color: var(--text-nav);
}

/* artisti */
.artisti .img img {
  border-radius: 50%;
}

@media all and (min-width: 576px) {
  .destra .content .menu.row li a {
    width: calc((100% - 20px) / 3);
  }
}

@media all and (min-width: 768px) {
  .destra .content .menu.row li a {
    width: calc((100% - 20px) / 5);
  }

  /* recently */
  .destra .content .list .cont.row .box {
    width: calc((100% - 20px) / 4);
  }
}

@media all and (min-width: 992px) {
  .destra .content ul.menu.row {
    flex-wrap: nowrap;
  }

  .destra .content .menu.row li a {
    width: auto;
  }

  /* recently */
  .destra .content .list .cont.row {
    flex-wrap: nowrap;
  }

  .destra .content .list .cont.row .box {
    width: 100%;
  }

  /* creato per */
  .destra .content .list.creato .cont.row .box {
    width: calc((100% - 40px) / 6);
  }
}

/* bottom */
.bottom {
  padding: 0 10px;
  color: white;
  height: 90px;
  background-color: #282828;
}
/* 
.bottom > .row {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.bottom .row .gruppo:not(.row) {
  flex-grow: 1;
}

.bottom .row .gruppo:not(.row) {
  flex-grow: 1;
}

.bottom .row .gruppo.row {
  width: 25%;
  align-items: center;
}

.bottom .row .gruppo.row:last-child {
  justify-content: flex-end;
}

.bottom .row .gruppo .row {
  justify-content: center;
}

.bottom .img {
  width: 30px;
}

.bottom .row .gruppo.row .col {
  padding: 0 10px;
}

.bottom .row .gruppo.row .col h5 {
  font-size: 10px;
}

.bottom .row .gruppo.row .col h6 {
  color: var(--text-nav);
} */
